body  {
    background-color: black;
    margin: 0;
    padding: 0;
}
.container {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height:150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
h1 {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
p {
    color: white;
    text-align: center;
    
}
header {
    height: 40px;
    width:100%;
    position: absolute;
    top:0;
    z-index: 1;
}
footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background:rgb(2, 30, 44);
 }
#sun {
    position: absolute;
    background:#fff000;
    box-shadow:0 0 20px #fff000;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top:55px;
    left: 55px;
}
#mercury {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 2.41s linear infinite;
}
#mercury::before
{
    content:'';
    position: absolute;
    width:11px;
    height: 11px;
    border-radius: 50%;
    background:#4b0b02;
    top: -6px;
    right: -8px;
    box-shadow:0 0 20px #4b0b02;
}
.cyrcle2 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 170px;
    height:170px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
#venus {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 6.15s linear infinite;
}
#venus::before
{
    content:'';
    position: absolute;
    width:16px;
    height: 16px;
    border-radius: 50%;
    background:#464b02;
    top: -6px;
    right: -8px;
    box-shadow:0 0 20px #464b02;
}
.cyrcle3 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 190px;
    height:190px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
#earth {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 10s linear infinite;
}
#earth::before
{
    content:'';
    position: absolute;
    width:18px;
    height: 18px;
    border-radius: 50%;
    background:#105494;
    top: -6px;
    right: -8px;
    box-shadow:0 0 20px #105494;
}
.cyrcle4 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 210px;
    height:210px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
#mars {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 18.8s linear infinite;
}
#mars::before
{
    content:'';
    position: absolute;
    width:12px;
    height: 12px;
    border-radius: 50%;
    background:#c40606;
    top: -6px;
    right: -8px;
    box-shadow:0 0 20px #c40606;
}
.cyrcle5 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height:280px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
#jupiter {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 118.6s linear infinite;
}
#jupiter::before
{
    content:'';
    position: absolute;
    width:32px;
    height: 32px;
    border-radius: 50%;
    background:#f31010;
    top: -11px;
    right: -13px;
    box-shadow:0 0 20px #f31010;
}
.cyrcle6 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height:350px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
#saturn {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 294.6s linear infinite;
}
#saturn::before
{
    content:'';
    position: absolute;
    width:25px;
    height: 25px;
    border-radius: 50%;
    background:#cfc8a0;
    top: -10px;
    right: -12px;
    box-shadow:0 0 20px #cfc8a0;
}
.cyrcle7 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height:400px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
#uranus {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 840.1s linear infinite;
}
#uranus::before
{
    content:'';
    position: absolute;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background:#80ddd1;
    top: -10px;
    right: -12px;
    box-shadow:0 0 20px #80ddd1;
}
.cyrcle8 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 440px;
    height:440px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
#neptune {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 1647.9s linear infinite;
}
#neptune::before
{
    content:'';
    position: absolute;
    width:17px;
    height: 17px;
    border-radius: 50%;
    background:#2948cf;
    top: -8px;
    right: -11px;
    box-shadow:0 0 20px #2948cf;
}
.cyrcle9 {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 520px;
    height:520px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
}
#pluto {
    display: block;
    position: absolute;
    top:calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background:transparent;
    transform-origin: left;
    animation: animate 2485.9s linear infinite;
}
#pluto::before
{
    content:'';
    position: absolute;
    width:7px;
    height: 7px;
    border-radius: 50%;
    background:#b0dce4;
    top: -3px;
    right: -5px;
    box-shadow:0 0 20px #b0dce4;
}
@media(max-width: 768px){

 .container,.cyrcle2,.cyrcle3,.cyrcle4,.cyrcle5,.cyrcle6,.cyrcle7,.cyrcle8,.cyrcle9 {
    margin-top: 80px; 
    margin-left:30px;
 }
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
